extends layout

block content
  .wrap
    h2 Recent Work
    ul#projects 
      each project in data.projects
        li.project(style={'background-color': project.background})
          .browser
            .top-bar
              .buttons
                .red
                .orange
                .green
              span.address-bar
                if project.link
                  a(target="_blank", href=project.link)= project.link
                else
                  a(target="_blank")
            .window
              img(src=project.screenshot)
          .info-container
            .info
              h1= project.title
              h4.tags Tags:
              ul#tags
                each tag in project.tags
                  li= tag
              br
              h4.details Details:
              ul#details
                each detail in project.details
                  li= detail
  #hackthehols
    .wrap
      .content
        img(src="img/hth-logo.png")
        h1 Director of Sponsorships at #[a(href="http://hacktheholidays.io") Hack the Holidays]
        p Hack the Holidays is Peterborough's first 24 hour student hackathon. My main role inside of Hack the Holidays is to raise money in order to keep our events free and accessible to all that want to attend. I raised money in the form of commercial sponsorships for our first event from both local and national companies.

  #skills
        img(class="strength-img", src="img/dumbbell.png")
        h1 My Strengths
        ul#skills-list
          li
            .info
              img(src="img/prototype.png")
              h3 Prototyping
          li
            .info
              img(src="img/development.png")
              h3 Development
          li
            .info
              img(src="img/design.png")
              h3 Design
        #descriptions
          p I am skilled at producing rapid prototypes that are built-to-purpose.
          p Crafting elegant and responsive experiences for the web is what I do best.
          p I can complete a range of design work, from identity to styling.

  #footer
    .wrap
      .left
        h1 Get in Touch
        form(action="//formspree.io/james@brks.cc", method="POST")
          label(for="name") Name:
          input(placeholder="Bertram Gilfoyle", class="text", type="text", name="name", id="name")
          label(for="email") Email:
          input(placeholder="gilfoyle@piedpiper.com", class="text", type="email", name="_replyto", id="email")
          label(for="subject") Subject:
          input(placeholder="Pied Piper", class="text", type="text", name="_subject", id="subject")
          label(for="message") Message:
          textarea(class="text", id="message", name="message")
          input(class="button", type="submit", value="Send")
      .right
        #location
          #map
        h1 By Email
        #mail
          a(href="mailto:james@brks.cc") james@brks.cc
          a(href="mailto:james@hacktheholidays.io") james@hacktheholidays.io
        h1 By Social Media
        ul#social
          a(target="_blank", href="http://twitter.com/_jbrks")
            li
              img(src="img/twitter.png")
          a(target="_blank", href="http://github.com/brks")
            li
              img(src="img/github.png")
  p.credits Built with #[span ♥] in the United Kingdom.
  p.technologies Powered by #[a(href="http://roots.cx/", target="_blank") Roots].
  p.elevator Back to Top
  
  script(type='text/javascript').
    window.onload = function() {
      var elevator = new Elevator({
        element: document.querySelector('.elevator'),
        mainAudio: 'audio/music.mp3',
        endAudio: 'audio/ding.mp3'
      });
    }
  script(type='text/javascript').
    function initMap() {
      var myLatLng = {lat: 52.569498, lng: -0.240530};

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 12,
        center: myLatLng,
        scrollwheel: false
      });

      var marker = new google.maps.Marker({
        position: myLatLng,
        map: map,
        title: 'Peterborough, UK'
      });
    }
  script(type='text/javascript', async, defer, src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC2xedbtnejhlIudtdeP6XuPwmLnzcLaFo&callback=initMap')